.nav-bar {
  background: var(--sidebar-color);
  color: var(--text-color);

  padding: 20px;
  font-family: sans-serif;
}
.nav-bar h2 {
  /* height: 25px; */
  float: left;
  /* margin-left: 20px; */
}

.nav-bar img {
  padding: 0px 15px 0px 15px;
}
.menu-right {
  text-align: right;
}

.threeline {
  margin: 0 20px;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 700px) {
  span {
    display: block;
  }
  ul li {
    display: block;
  }
  ul {
    display: none;
  }
}
